(
    palette: Dark((
        name: "ikigai",
        bright_red: "#ffa89fff",
        bright_green: "#93e195ff",
        bright_orange: "#ec9c63ff",
        gray_1: "#100e0dff",
        gray_2: "#1c1918ff",
        neutral_0: "#000000ff",
        neutral_1: "#1d1b1aff",
        neutral_2: "#33302fff",
        neutral_3: "#494645ff",
        neutral_4: "#615d5cff",
        neutral_5: "#7b7675ff",
        neutral_6: "#95908eff",
        neutral_7: "#b0aaa9ff",
        neutral_8: "#cbc5c4ff",
        neutral_9: "#e8e1dfff",
        neutral_10: "#ffffffff",
        accent_blue: "#86adffff",
        accent_indigo: "#9babfdff",
        accent_purple: "#c39deeff",
        accent_pink: "#ed90b5ff",
        accent_red: "#f4928aff",
        accent_orange: "#ec9c63ff",
        accent_yellow: "#d4ab4fff",
        accent_green: "#7fc581ff",
        accent_warm_grey: "#b2a9a7ff",
        ext_warm_grey: "#7c7472ff",
        ext_orange: "#ec9c63ff",
        ext_yellow: "#d4ab4fff",
        ext_blue: "#31c7d5ff",
        ext_purple: "#c39deeff",
        ext_pink: "#ed90b5ff",
        ext_indigo: "#9babfdff",
    )),
    spacing: (space_none: 0, space_xxxs: 4, space_xxs: 8, space_xs: 12, space_s: 16, space_m: 24, space_l: 32, space_xl: 48, space_xxl: 64, space_xxxl: 128),
    corner_radii: (radius_0: (0.0, 0.0, 0.0, 0.0), radius_xs: (4.0, 4.0, 4.0, 4.0), radius_s: (8.0, 8.0, 8.0, 8.0), radius_m: (16.0, 16.0, 16.0, 16.0), radius_l: (32.0, 32.0, 32.0, 32.0), radius_xl: (160.0, 160.0, 160.0, 160.0)),
    neutral_tint: Some("#eee3e0ff"),
    bg_color: Some("#100e0dff"),
    primary_container_bg: Some("#161312ff"),
    secondary_container_bg: Some("#1c1918ff"),
    text_tint: Some("#eee3e0ff"),
    accent: Some("#86adffff"),
    success: Some("#7fc581ff"),
    warning: Some("#d4ab4fff"),
    destructive: Some("#ff716cff"),
    frosted: Medium,
    gaps: (0, 8),
    active_hint: 1,
    window_hint: Some("#86adffff"),
    frosted_windows: false,
    frosted_system_interface: false,
    frosted_panel: false,
    frosted_applets: false,
    frosted_maximized_apps: false,
)
